#game-container progress {
    display: block;
    height: 0.5em;
    border-radius: 0em;
    border: none;
    width: 100%;
}
.holder {
    font-size: 1.3em;
    position: absolute;
    top: 0em;
    z-index: 50;
}
.holder.stats p {
    margin: 0.5em 0.8em;;
}
.holder.stats {
    left: 0em;
}
.holder.stats img,
#end-level img {
    height: 1em;
    vertical-align: middle;
    margin-bottom: 0.19em;
}

#timer {
    font-family: "Fira Mono", monospace;
}

.touch-buttons {
    display: none;
}
.touch .touch-buttons {
    display: block;
}
.touch-buttons button {
    position: absolute;
    box-sizing: border-box;
    bottom: 0.5rem;
    z-index: 50;
    font-size: 3em;
    width: 6rem;
    height: 4rem;
    line-height: 3.9rem;
    margin: 0em;
    border: 1px solid rgba(128, 128, 128, 0.4);
    background-color: rgba(221, 221, 221, 0.4);
    font-family: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.touch-buttons #left {
    left: 0em;
    border-right: none;
    border-top-left-radius: 0.1em;
}
.touch-buttons #right {
    left: 6rem;
    border-left: none;
    border-top-right-radius: 0.1em;
}
.touch-buttons #jump,
.touch-buttons #throwStone,
.touch-buttons #useSpecial {
    border-radius: 0.1em;
}
.touch-buttons #jump {
    right: 0em;
}
.touch-buttons #throwStone {
    right: 6.5rem;
}
.touch-buttons #useSpecial {
    right: 0em;
    bottom: 5rem;
}
@media(max-width: 28rem) {
    .touch-buttons #throwStone,
    .touch-buttons #useSpecial {
        display: none;
    }
}

#end-level {
    display: block;
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 0.3em 0.5em;
    top: 1.5em;
    opacity: 0;
    transition: opacity 0.1s ease-out, visibility 0s 0.1s;
    font-size: 1.25em;
}
#end-level h1 {
    margin: 0px;
}
#end-level a.button {
    display: inline-block;
    text-decoration: none;
}
#end-level button,
#end-level a.button {
    font: inherit;
    border: solid 0.15em;
    padding: 0.1em 0.5em;
    vertical-align: middle;
    background-color: var(--button-background);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    color: var(--button-color);
}
#end-level a.button:hover, #end-level a.button:focus,
#end-level button:hover, #end-level button:focus {
    background-color: var(--hover-button-background);
    border-color: var(--hover-border-color);
}
#end-level .win,
#end-level .lose {
    display: none;
}
.level-lost #end-level .lose,
.level-won #end-level .win {
    display: block;
}
.level-lost #end-level .win,
.level-won #end-level .lose {
    display: none;
}
.level-lost #end-level,
.level-won #end-level {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    z-index: 200;
}
#end-level {
    background-color: var(--background);
}
.classic.level-lost #end-level {
    background-color: rgba(230, 20, 20, 0.75);
}
.classic.level-won #end-level {
    background-color: rgba(15, 175, 212, 0.75);
}
.level-lost #game-container canvas,
.level-won #game-container canvas,
.level-won .holder, .level-lost .holder {
    opacity: 0.5;
    transition: opacity 0.3s ease-out, visibility 0s 0.3s;
}
.level-won .holder, .level-lost .holder {
    opacity: 0;
    visibility: hidden;
}
.level-lost .touch-buttons,
.level-won .touch-buttons {
    display: none;
}
p.best-time-only,
.best-time p.not-best-time-only,
p.most-coins-only,
.most-coins p.not-most-coins-only {
    display: none;
}
.best-time p.best-time-only,
.most-coins p.most-coins-only {
    display: block;
}

.holder.options {
    right: 0em;
    line-height: 0.5;
}
.options button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: top;
}
.options button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.options a,
.options button {
    display: inline-block;
    box-sizing: border-box;
    width: 2.2em;
    height: 2.2em;
    background-size: 1.1em;
    background-position: center center;
    background-repeat: no-repeat;
}
.options a:hover,
.options a:focus,
.options button:hover,
.options button:focus {
    background-color: var(--holder-hover-button-bg);
}
.options .menu {
    background-image: url(graphics/light/menu.svg);
}
.options #lockLevel {
    background-image: url(graphics/light/unlocked.svg);
}
.levelLocked .options #lockLevel {
    background-image: url(graphics/light/locked.svg);
}
.options #earlyRestart {
    background-image: url(graphics/light/restart.svg);
}
.options #editLevel {
    background-image: url(graphics/light/edit-level.svg);
}
.dark .options .menu {
    background-image: url(graphics/dark/menu.svg);
}
.dark .options #lockLevel {
    background-image: url(graphics/dark/unlocked.svg);
}
.dark.levelLocked .options #lockLevel {
    background-image: url(graphics/dark/locked.svg);
}
.dark .options #earlyRestart {
    background-image: url(graphics/dark/restart.svg);
}
.dark .options #editLevel {
    background-image: url(graphics/dark/edit-level.svg);
}
.options a span,
.options button span {
    display: none;
}
