:root {
    --button-border-radius: 0em;
    --font-color: black;
    --button-color: black;
    --holder-border: none;
}
/* Note: Level builder camera button images set by CSS in builder/builder.css.*/
.grey {
    --background: rgb(235, 235, 235);
    --button-background: rgb(234, 234, 234);
    --hover-button-background: rgb(203, 203, 203);
    --disabled-button-bg: rgb(234, 234, 234);
    --disabled-button-color: #808080; 
    --border-color: rgb(89, 89, 89);
    --hover-border-color: #222;
    --focus-border-color: #222;
    --disabled-border-color: rgb(150, 150, 150);
    --holder-background: rgba(234, 234, 234, 0.8);
    --holder-hover-button-bg: #aaa;
    --camera-background: rgba(243,243,243,0.8);
    --hover-camera-background: rgba(220,220,220,0.8);
    --camera-border-color: #9e9e9e;
}
.blue {
    --background: rgb(149, 204, 234);
    --button-background: rgb(200, 236, 255);
    --hover-button-background: hsla(201,50%,75%,1);
    --disabled-button-bg: hsla(201,100%,84%,1);
    --disabled-button-color: #444; 
    --border-color: rgb(0, 71, 131);
    --hover-border-color: var(--border-color);
    --focus-border-color: hsla(207,100%,36%,1);
    --disabled-border-color: hsla(207,50%,38%,1);
    --holder-background: rgba(200, 236, 255, 0.8);
    --holder-hover-button-bg: var(--hover-button-background);
    --camera-background: rgba(200, 236, 255, .8);
    --hover-camera-background: hsla(201,50%,75%,.8);
    --camera-border-color: hsla(207,31%,38%,1);
}
.pink {
    --background: rgb(251, 192, 236);
    --button-background: rgb(255, 219, 246);
    --hover-button-background: hsl(315,100%,83%);
    --disabled-button-bg: rgb(255, 219, 246);
    --disabled-button-color: #444;
    --border-color: rgb(187, 90, 163);
    --hover-border-color: var(--border-color);
    --focus-border-color: hsl(299, 100%, 50%);
    --disabled-border-color: hsla(315,22%,54%,1);
    --holder-background: rgba(255, 219, 246, 0.8);
    --holder-hover-button-bg: var(--hover-button-background);
    --camera-background: rgba(255, 219, 246, 0.8);
    --hover-camera-background: hsla(315, 100%, 83%, 0.8);
    --camera-border-color: hsla(315,19%,54%,1);
}
/* Note: Special CSS in single/single.css for #endLevel for .classic only */
.classic {
    --background: rgb(176, 196, 222);
    --button-background: rgb(0, 128, 0);
    --hover-button-background: hsla(120,100%,30%,1);
    --disabled-button-bg: rgb(0, 128, 0);
    --button-color: white;
    --disabled-button-color: #bbb;
    --border-color: rgb(0, 100, 0);
    --hover-border-color: var(--border-color);
    --focus-border-color: hsla(120,100%,30%,1);
    --disabled-border-color: rgb(0, 128, 0);
    --border-radius: 0.25em;
    --holder-background: rgba(255, 255, 255, 0.6);
    --holder-border: solid 5px rgb(211, 211, 211);
    --holder-hover-button-bg: #ccc;
    --camera-background: rgba(0, 128, 0, .8);
    --hover-camera-background: hsla(120,100%,30%,.8);
    --camera-border-color: rgba(0, 100, 0, .8);
}
.dark {
    --background: #3a3a3a;
    --font-color: #e5e5e5;
    --button-color: var(--font-color);
    --button-background: #4a4a4a;
    --disabled-button-bg: #4a4a4a;
    --disabled-button-color: #aaa;
    --border-color: #b6b6b6;
    --hover-border-color: var(--border-color);
    --focus-border-color: #888;
    --disabled-border-color: #666;
    --hover-button-background: #6a6a6a;
    --holder-background: rgba(58,58,58,.8);
    --holder-hover-button-bg: #333;
    --camera-background: rgba(74, 74, 74, 0.8);
    --hover-camera-background: rgba(130, 130, 130, 0.8);
    --camera-border-color: #303030;
}
