body {
    height: 100vh;
}
#loading-progress {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.25em;
}
#game-container {
    display: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
}
.got-resources #game-container {
    display: block;
}
.got-resources #loading {
    display: none;
}
.loading-textures-msg, .loading-levels-msg {
    display: none;
}
.loading-textures .loading-textures-msg,
.loading-levels .loading-levels-msg {
    display: block;
}
#game-container canvas {
    display: block;
    height: calc(100% - 0.5em);
    width: 100%;
}

.holder {
    background-color: var(--holder-background, white);
    border: var(--holder-border);
}
.classic .holder p {
    margin: 0.5em 0.6em;
}

.holder.message {
    position: absolute;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 70%;
    left: 15vw;
    right: 15vw;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3em);
    transition: opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
}
.show-message .holder.message {
    transition: opacity 0.3s, transform 0.3s, visibility 0s;
    visibility: visible;
    opacity: 1;
    transform: none;
}
