@import url("colors.css");
body {
    font-family: "Fira Sans", "Noto Sans", sans-serif;
    margin: 0;
    color: var(--font-color);
}
body > footer {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.1em;
    z-index: 20;
}
.screen-wrapper {
    line-height: 100vh;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    font-size: 1.25em;
}
.screen-wrapper {
    background-color: var(--background);
}
.screen-main {
    line-height: 1;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: .5em;
    box-sizing: border-box;
}
.screen-main h1 {
    font-size: 2.5em;
}
.screen-main h1,
.screen-main h2 {
    margin: 0.5em 0em;
}
.screen-main p.details {
    width: 40em;
    max-width: 90%;
    margin: .75em auto;
    font-size: 0.9em;
}
.screen-main ul.options {
    list-style: none;
    padding-left: 0;
}
.screen-main ul li {
    margin: 0.5em 0;
}
.screen-main hr {
    border: solid 0.08em;
    max-width: 95%;
    width: 14em;
}
.screen-main a.button,
.screen-main button {
    display: inline-block;
    font: inherit;
    text-decoration: none;
    padding: 0.2em 0.5em;
    width: 12em;
    border: medium solid;
    box-sizing: content-box;
    cursor: pointer;
}
.screen-main a.button, .screen-main hr,
.screen-main button {
    background-color: var(--button-background);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    color: var(--button-color);
}
.screen-main a.button:hover, .screen-main a.button:focus,
.screen-main button:hover, .screen-main button:focus {
    background-color: var(--hover-button-background);
    border-color: var(--hover-border-color);
}

.screen-main input[type="number"] {
    font: inherit;
}
