.normal-loading, .level-loading, .level-loading-failed {
    display: none;
}
.loading-aborted .level-loading-failed {
    display: block;
}
.loading-aborted .open-level,
.levels-loaded .open-level {
    display: none;
}
.levels-loading .normal-loading {
    display: block;
}
