.all-player-stats .player-details .holder {
    background-color: transparent;
    color: black;
}
.player-1 {
    background-color: rgba(0, 176, 255, 0.5);
}
.player-2 {
    background-color: rgba(102, 255, 0, 0.5);
}
.player-3 {
    background-color: rgba(255, 204, 0, 0.5);
}
.player-4 {
    background-color: rgba(43, 77, 77, 0.5);
}
.all-player-stats {
    top: 0;
    font-size: 1.3em;
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
    display: flex;
    flex-direction: row;
}
.player-details {
    display: flex;
    flex: 3 3 auto;
}
.player-2.player-details {
    left: 25%;
}
.player-3.player-details {
    right: 25%;
}
.player-4.player-details {
    right: 0%;
}
.player-1-won-last .player-1.player-details .wins.holder,
.player-2-won-last .player-2.player-details .wins.holder,
.player-3-won-last .player-3.player-details .wins.holder,
.player-4-won-last .player-4.player-details .wins.holder {
    background-color: gold;
    border-radius: 0.2em;
}
.only-1-player .player-4,
.only-1-player .player-3,
.only-1-player .player-2,
.only-2-player .player-4,
.only-2-player .player-3,
.only-3-player .player-4 {
    display: none;
}
.all-player-stats .holder {
    padding: 0.1rem 0.5rem;
    text-align: center;
    float: right;
    flex: auto;
}
.all-player-stats .holder img {
    height: 1em;
    vertical-align: middle;
    margin-bottom: 0.19em;
}
