#builderControls {
    text-align: center;
    z-index: 70;
    position: relative;
    width: 100%;
    display: none;
}
.got-resources #builderControls {
    display: block;
}
#builderControls,
.dialog {
    background-color: var(--background, white);
}
.builder-controls {
    line-height: 2;
}
#builderControls section:first-child {
    margin: 0 auto;
    text-align: center;
}
#builderControls section:nth-last-child(2) {
/* Last section, but one (the last one is the toggle-open section). */
    border-bottom: 0.3rem solid var(--border-color);
    padding-bottom: 0.15em;
}
.builder-controls label {
    white-space: nowrap;
}
.builder-controls button,
.builder-controls .button,
.builder-controls select,
.builder-controls textarea,
.builder-controls input[type=color],
.builder-controls input[type=number],
.builder-controls input[type=text],
.builder-controls input[type=range] {
    margin: 0;
    font: inherit;
    vertical-align: middle;
    box-sizing: border-box;
    height: 1.75em;
    line-height: 1;
    border: 0.2em solid var(--border-color);
    color: black;
}
.builder-controls .button {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 0.5em;
    cursor: default;
}
.builder-controls input[type=color] {
    width: 2em;
    padding: 0;
}
.builder-controls button,
.builder-controls .button,
.builder-controls select,
.builder-controls input[type=color] {
    background-color: var(--button-background);
    border-radius: var(--border-radius);
    color: var(--button-color);
}
.builder-controls button:focus,
.builder-controls button:hover,
.builder-controls .button:focus,
.builder-controls .button:hover,
.builder-controls select:focus,
.builder-controls select:hover,
.builder-controls input[type=color]:focus,
.builder-controls input[type=color]:hover {
    background-color: var(--hover-button-background);
    border-color: var(--hover-border-color);
}
.builder-controls button:disabled,
.builder-controls select:disabled {
    color: var(--disabled-button-color);
    border-color: var(--disabled-border-color);
    background-color: var(--disabled-button-bg);
}
.builder-controls input[type=number],
.builder-controls input[type=text] {
    font-size: 1em;
    min-height: 1.75rem;
    background-color: white;
    padding: 0em;
    padding-left: 0.2em;
    margin: 0;
}
.builder-controls input[type=number] {
    width: 3.5em;
}
.builder-controls input[type=number],
.builder-controls input[type=text] {
    border: 0.2rem solid var(--border-color);
    border-radius: var(--border-radius);
}
.builder-controls input[type=number]:focus,
.builder-controls input[type=text]:focus {
    border-color: var(--focus-border-color);
}
span.free-camera-only {
    display: none;
}
.using-free-camera span.free-camera-only {
    display: inline-block;
}
.builder-controls #colorDropper,
.builder-controls #imageDropper {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
    width: 1.7em;
}
/* color-dropper.svg is distributed under the CC-BY-SA 3.0 license.*/
.builder-controls #colorDropper {
    background-image: url(graphics/light/color-dropper.svg);
}
.dark .builder-controls #colorDropper {
    background-image: url(graphics/dark/color-dropper.svg);
}
/* image-dropper.svg is distributed under the CC-BY-SA 3.0 license.*/
.builder-controls #imageDropper {
    background-image: url(graphics/light/image-dropper.svg);
}
.dark .builder-controls #imageDropper {
    background-image: url(graphics/dark/image-dropper.svg);
}
.builder-controls section.toggle-open {
    height: 0; /* Permits clicking the canvas beneath it. */
}
.collapse-controls .builder-controls section {
    display: none;
}
.builder-controls section.toggle-open button {
    position: relative;
    border-width: 0.3rem;
    border-top: none;
    height: 1.5rem;
    vertical-align: top;
    z-index: 300;
}
.collapse-controls .builder-controls section.toggle-open {
    display: block;
}
#toggleControls .closed,
.collapse-controls #toggleControls .open {
    display: none;
}
.collapse-controls #toggleControls .closed {
    display: inline;
}
body:not(.touch) .touch-only {
    display: none;
}
.hide-player-controls .touch-buttons {
    display: none;
}

.minimal-controls #builderControls .not-minimal {
    display: none;
}
.minimal-only {
    display: none;
}
.minimal-controls .minimal-only {
    display: inline;
}

#cameraLeft, #cameraRight, #cameraUp, #cameraDown {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}
#cameraLeft, #cameraRight, #cameraUp, #cameraDown,
.camera-up-button section.toggle-open button {
    background-color: var(--camera-background);
}
#cameraLeft:hover, #cameraRight:hover,
#cameraLeft:focus, #cameraRight:focus,
#cameraUp:hover, #cameraDown:hover,
#cameraUp:focus, #cameraDown:focus,
.camera-up-button section.toggle-open button:focus,
.camera-up-button section.toggle-open button:hover {
    background-color: var(--hover-camera-background);
}
#cameraLeft:disabled, #cameraRight:disabled,
#cameraUp:disabled, #cameraDown:disabled {
    display: none;
}
#cameraLeft, #cameraRight {
    top: 0px;
    height: calc(100% - 0.5em);
    width: 3rem;
    max-width: 10vw;
    background-size: 75% auto;
    border-right: solid 0.3em var(--camera-border-color);
}
/* Camera images are set outside of theme files, as they are highly specific and
 * unlikely to be reused anywhere else.
/* camera-left.svg is distributed under the CC-BY-SA 3.0 license.*/
.grey #cameraLeft, .grey #cameraRight {
    background-image: url(graphics/grey/camera-left.svg);
}
.blue #cameraLeft, .blue #cameraRight {
    background-image: url(graphics/blue/camera-left.svg);
}
.pink #cameraLeft, .pink #cameraRight {
    background-image: url(graphics/pink/camera-left.svg);
}
.classic #cameraLeft, .classic #cameraRight {
    background-image: url(graphics/classic/camera-left.svg);
}
.dark #cameraLeft, .dark #cameraRight {
    background-image: url(graphics/dark/camera-left.svg);
}
#cameraUp, #cameraDown {
    left: 0px;
    right: 0px;
    width: 100%;
    height: 3rem;
    max-height: 10vh;
    background-size: auto 75%;
    z-index: 6; /* Above left and right */
}
#cameraLeft {
    left: 0px;
}
#cameraRight {
    right: 0px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
#cameraUp {
    top: 0;
    border-bottom: solid 0.3em var(--camera-border-color);
}
/* camera-up.svg is distributed under the CC-BY-SA 3.0 license.*/
.grey #cameraUp {
    background-image: url(graphics/grey/camera-up.svg);
}
.blue #cameraUp {
    background-image: url(graphics/blue/camera-up.svg);
}
.pink #cameraUp {
    background-image: url(graphics/pink/camera-up.svg);
}
.classic #cameraUp {
    background-image: url(graphics/classic/camera-up.svg);
}
.dark #cameraUp {
    background-image: url(graphics/dark/camera-up.svg);
}
#cameraDown {
    bottom: 0.5rem;
    border-top: solid 0.3em var(--camera-border-color);
}
/* camera-down.svg is distributed under the CC-BY-SA 3.0 license.*/
.grey #cameraDown {
    background-image: url(graphics/grey/camera-down.svg);
}
.blue #cameraDown {
    background-image: url(graphics/blue/camera-down.svg);
}
.pink #cameraDown {
    background-image: url(graphics/pink/camera-down.svg);
}
.classic #cameraDown {
    background-image: url(graphics/classic/camera-down.svg);
}
.dark #cameraDown {
    background-image: url(graphics/dark/camera-down.svg);
}
#cameraLeft>span, #cameraRight>span,
#cameraUp>span, #cameraDown>span,
#colorDropper>span,
#pickImage>span,
#imageDropper>span {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 0;
}
/* Move toggle to open controls so that it doesn't overlap #cameraUp */
.camera-up-button section.toggle-open button {
    top: 3rem;
    border: solid 0.25em var(--border-color);
    border-top: none;
}
@media(max-height: 30rem) {
    .camera-up-button section.toggle-open button {
        top: 10vh;
    }
}
.classic section.toggle-open button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.using-color-dropper #game-container canvas {
    cursor: crosshair;
    /* color-dropper-cursor.svg is distributed under the CC-BY-SA 3.0 license.*/
    cursor: url(graphics/light/color-dropper.svg) 0 20, crosshair;
}
.using-image-dropper #game-container canvas {
    cursor: crosshair;
    /* image-dropper-cursor.svg is distributed under the CC-BY-SA 3.0 license.*/
    cursor: url(graphics/light/image-dropper.svg) 12 12, crosshair;
}

#overlay {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 400;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100vh;
    text-align: center;
    transition: opacity 0.1s ease-out, visibility 0s 0.1s;
}
body.overlay {
    overflow: hidden;
}
.got-resources.enable-overlay #overlay {
    transition: opacity 0.2s ease-out;
    opacity: 1;
    visibility: visible;
}
.dialog {
    display: none;
    box-sizing: border-box;
    vertical-align: middle;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    line-height: 2;
    border: 0.3rem solid var(--border-color);
    padding: 0.5em;
    margin: 0 auto;
    transform: scale(1.15);
    transition: transform 0.1s;
}
.dialog.show {
    display: inline-block;
    transform: none;
    transition: transform 0.3s;
}
.dialog h1,
.dialog h2 {
    line-height: 1.6;
    margin: 0.5rem;
}
.dialog h1:first-child {
    border-bottom: 0.3rem solid var(--border-color);
    margin-top: 0;
}
.dialog ul {
    list-style: none;
    padding: 0em 1em;
    margin-top: 0;
    margin-bottom: 0;
}
.dialog li {
    border-bottom: 0.15rem solid var(--border-color);
    padding: 0.2em 0.2em;
}
.dialog li:last-child {
    border: none;
}
.dialog p,
.dialog form.root{
    margin: .5rem;
}
.dialog input[type=number] {
    width: 4.5em;
}
#levelWidth, #levelHeight {
    width: 8em;
}
.dialog .close-container {
    text-align: right;
}
#insert-dialog .objects {
    max-width: 31rem;
}
#insert-dialog.show-labels .objects {
    max-width: 61rem;
}
#insert-dialog .objects img {
    width: 2em;
    max-height: 2em;
    vertical-align: middle;
}
#insert-dialog .objects button:disabled img {
    opacity: 0.4;
}
#insert-dialog .objects button {
    box-sizing: content-box;
    padding: 0.2em;
    margin-bottom: 0.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
#insert-dialog.show-labels .objects button {
    height: auto;
    width: 5em;
}
#insert-dialog .objects button::after,
#insertingObj::after {
    content: attr(title);
    display: block;
    width: 0em;
    height: 0em;
    overflow: hidden;
}
#insert-dialog.show-labels .objects button::after {
    line-height: 1;
    font-size: 0.9em;
    height: 3.2em;
    width: auto;
    overflow: inherit;
    padding-top: 0.3em;
}
#insert-dialog .objects button.hidden,
#components-section.hidden {
    display: none;
}
#insert-dialog #filter-insert {
    float: left;
    margin: 0 0.5rem;
}
.dialog .toggleFunction {
    text-align: right;
}

.no-wrap {
    white-space: nowrap;
}

#insertingObj {
    height: 1.75em;
    width: 1.75em;
    display: inline-block;
    vertical-align: middle;
}
#insertingObj img {
    height: 100%;
    max-width: 100%;
}

#pickImage {
    width: 1.8em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    background-origin: content-box;
    padding: 0.05em;
}

body:not(.dark) .dark-only,
.dark .light-only {
    display: none;
}

/* Hide health and coins and shrink copyright notice when editing a level. */
.holder {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}
footer {
    transition: font-size 0.1s ease-in;
}
.editing .holder:not(.message) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0s 0.3s;
}
.editing footer {
    font-size: .8em;
    transition: font-size 0.2s ease-out;
}
