body {
    font-family: "Fira Sans", "Noto Sans", sans-serif;
}
h1, h2 {
    margin: 0.4em 0;
}
footer.copyright {
    padding-top: .5em;
    border-top: thin solid grey;
    display: block;
}
img.inline {
    height: 1em;
    vertical-align: top;
}
td {
   padding-left: 0.5em;
   padding-right: 0.5em;
}
